.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 12vh);
  padding: 2rem 2rem 4rem 2rem;

  @media only screen and (max-width: 43.75em) {
    padding: 1rem 0;
  }

  &--order {
    @media only screen and (max-width: 43.75em) {
      padding: 1rem;
    }
  }
}
