@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@-webkit-keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: rgb(31, 31, 31);
  line-height: 1.7;
}

.section {
  width: 100%;
}

.heading__primary {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.heading__primary--black {
  color: rgb(0, 0, 0);
}

.heading__secondary {
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(77, 77, 77);
}

.heading__tertiary {
  font-size: 2.3rem;
  color: rgb(77, 77, 77);
}

.paragraph {
  font-size: 1.6rem;
  color: rgb(77, 77, 77);
}
.paragraph--header {
  color: rgb(255, 255, 255);
}

.mt-small {
  margin-top: 2rem;
}

.mt-medium {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 5rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 3rem;
}

.mb-large {
  margin-bottom: 4rem;
}

.centar-text {
  text-align: center;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn__get-in-touch {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
}
.btn__get-in-touch a {
  text-decoration: none;
  color: rgb(49, 105, 131);
}
.btn__get-in-touch:hover {
  box-shadow: 0.3rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
}
.btn__display {
  font-size: 2.3rem;
  padding: 0.2rem;
  margin-right: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}
.btn__display--active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.btn__cart {
  font-weight: 600;
  letter-spacing: 0.075rem;
  color: rgb(255, 255, 255);
  background: rgb(118, 183, 208);
  text-transform: uppercase;
  align-self: flex-start;
}
.btn__cart:hover {
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
}
.btn__remove {
  background: rgb(118, 183, 208);
  color: rgb(255, 255, 255);
  letter-spacing: 0.075rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  padding: 0.7rem 1.7rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn__back-to-shopping {
  width: 5rem;
  height: 5rem;
  padding: 0;
  position: absolute;
  top: 2rem;
  left: 3rem;
  border-radius: 50%;
}
.btn__back-to-shopping svg {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(118, 183, 208);
}
.btn__proceed {
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  background: rgb(118, 183, 208);
  color: rgb(255, 255, 255);
}
.btn__load-more {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.btn__form {
  font-weight: 600;
  width: 70%;
  margin-bottom: 1rem;
  background: rgb(201, 222, 232);
  color: rgb(77, 77, 77);
  border-radius: 0.4rem;
}
.btn__form:hover {
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}

.checkout-steps {
  width: 80%;
  height: 5rem;
  display: flex;
  margin-inline: auto;
}
.checkout-steps > div {
  flex: 1;
  padding: 0.7rem 0;
  border-top: 0.5rem solid rgb(201, 222, 232);
}
.checkout-steps > div.active {
  border-top: 0.5rem solid rgb(118, 183, 208);
}

.filter-container {
  flex-basis: 25%;
  background-color: burlywood;
}

.form-section {
  min-height: 88vh;
  width: 100%;
  padding: 2rem;
}

.form-box {
  width: 80%;
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
  margin-inline: auto;
  display: flex;
  background: rgb(201, 222, 232);
}
.form-box__left {
  flex-basis: 35%;
  background: rgb(201, 222, 232);
  padding: 1rem;
  display: grid;
  place-items: center;
}
.form-box__right {
  flex-basis: 65%;
  background: rgb(255, 255, 255);
  padding: 2rem;
  display: grid;
  place-items: center;
}
.form-box__logo {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 222, 232);
  width: 27rem;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  z-index: 1;
}
.form-box__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 7rem;
  height: 7rem;
  border: 0.7rem solid rgb(255, 255, 255);
  z-index: -1;
}
.form-box__logo span {
  font-weight: 900;
  margin-right: 0.4rem;
  background-color: rgb(201, 222, 232);
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(79, 169, 198);
  -webkit-text-stroke: 0.155rem rgb(255, 255, 255);
}

.form {
  width: 80%;
  text-align: center;
}
.form h1 {
  margin: 3rem 0 5rem 0;
}
.form__input-box {
  width: 70%;
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: left;
}
@media only screen and (max-width: 56.25em) {
  .form__input-box {
    width: 100%;
  }
}
.form__input-box label {
  font-size: 1.4rem;
  color: rgb(77, 77, 77);
}
.form__input-box input {
  font-size: 1.2rem;
  width: 100%;
  height: 4rem;
  background: rgb(234, 234, 234);
  color: rgb(77, 77, 77);
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
}
.form__radio-input {
  width: 70%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__radio-input > * > input {
  margin-left: 1rem;
}
.form__radio-input > * > img {
  width: 5rem;
}
.form p {
  font-size: 1.3rem;
}

.from-alert-container {
  width: 70%;
  margin: 1rem auto;
}

.form-alert {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.7rem;
  padding: 0.3rem;
  text-align: center;
  border-radius: 0.3;
}
.form-alert--danger {
  background: rgb(255, 172, 172);
  color: rgb(248, 39, 39);
  border-left: 0.5rem solid rgb(248, 39, 39);
}
.form-alert--success {
  background: rgb(177, 255, 170);
  color: rgb(12, 148, 0);
  border-left: 0.5rem solid rgb(12, 148, 0);
}

.icon__times {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 30em) {
  .icon__times {
    display: block;
  }
}
.icon__bars {
  display: none;
  font-size: 3rem;
  margin-left: 2.5rem;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .icon__bars {
    display: block;
  }
}
.icon__cart {
  position: relative;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
}
.icon__search {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 30em) {
  .icon__search {
    right: 0;
  }
}
.icon__search--mobile {
  position: static;
  transform: translateY(0);
  margin-left: 1rem;
  color: rgb(0, 0, 0);
}

.order-summary {
  flex-basis: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: calc(12vh + 2rem);
  margin: 0 0 auto 0;
  padding: 2rem 3rem;
  border: 0.1rem solid rgb(210, 210, 210);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.order-summary span {
  font-size: 1.8rem;
  font-weight: 500;
}
.order-summary > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-summary .shipping {
  color: rgb(230, 59, 59);
}

.product {
  background: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.3);
}
.product--cols {
  display: block;
}
.product--rows {
  display: flex;
}
.product__img {
  width: 100%;
  height: 25rem;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__info {
  padding: 2rem;
}
.product__info--cols {
  display: block;
}
.product__info--rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__info--rows > * + * {
  margin-top: 1rem;
}
.product__info div {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price {
  font-weight: 600;
  color: rgb(77, 77, 77);
}

.rating svg {
  color: rgb(253, 210, 79);
}

.products {
  position: relative;
  flex-basis: 75%;
  padding: 3rem;
  overflow: auto;
}
.products__header {
  width: 100%;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 30em) {
  .products__header {
    align-items: flex-start;
  }
}
.products__header--left {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 30em) {
  .products__header--left {
    flex-direction: column;
  }
}
.products__header--right {
  display: flex;
  gap: 2rem;
}
.products__header select {
  margin-left: 1rem;
}
.products__container {
  display: grid;
  gap: 2rem;
}
@media only screen and (max-width: 30em) {
  .products__container {
    flex-direction: column;
  }
}
.products__container--cols {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.products__container--rows {
  grid-template-columns: 1fr;
  width: 65rem;
  max-width: 100%;
}

.view-all {
  border-bottom: 0.3rem solid rgb(49, 105, 131);
  cursor: pointer;
}

.loader {
  width: 100%;
  text-align: center;
}
.loader svg {
  font-size: 3.5rem;
  margin-top: 2rem;
  -webkit-animation: loader 2s infinite linear;
          animation: loader 2s infinite linear;
}

.error-message {
  width: 100%;
  text-align: center;
  color: rgb(235, 42, 42);
}

.select-container {
  background: rgb(201, 222, 232);
  text-transform: capitalize;
  padding: 1rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.select-container--cart {
  width: 100%;
}

.btn-container {
  display: inline-block;
}

.products-container {
  height: 100vh;
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 48em) {
  .products-container {
    flex-direction: column;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 30em) {
  .search {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}
.search:hover input {
  transform: translateX(0);
  opacity: 1;
}
@media only screen and (max-width: 30em) {
  .search:hover input {
    transform: translateX(100%);
  }
}
.search:hover svg {
  color: rgb(0, 0, 0);
}
.search input {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3), inset -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.4s ease;
}
.search input:focus {
  color: rgb(0, 0, 0);
  transform: translateX(0);
  opacity: 1;
}
.search input:focus + svg {
  color: rgb(0, 0, 0);
}

.search-container {
  display: none;
  padding: 2rem;
}
@media only screen and (max-width: 30em) {
  .search-container {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
  }
  .search-container--active {
    transform: translateY(0);
  }
  .search-container__box {
    background: linear-gradient(180deg, rgb(118, 183, 208), rgb(201, 222, 232));
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 0.5rem;
  }
  .search-container__box ul {
    list-style-type: none;
    margin-top: 1rem;
  }
}
.search-container input {
  width: 70%;
  height: 4rem;
  padding: 2rem 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3), inset -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.single-product-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 3rem 0;
}
@media only screen and (max-width: 48em) {
  .single-product-container {
    padding: 3rem 0;
  }
}

.single-product {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  border-radius: 0.5rem;
}
.single-product__img {
  width: 40rem;
  max-width: 100%;
  height: 100%;
}
@media only screen and (max-width: 48em) {
  .single-product__img {
    width: 100%;
  }
}
.single-product__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-product__info {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.single-product__counter span {
  font-size: 2rem;
  margin: 0 1rem;
}
.single-product__counter--cart {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.size-box {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid rgb(213, 213, 213);
}
.size-box label {
  margin-right: 1.3rem;
}

.header {
  width: 100%;
  height: 88vh;
  padding: 3rem 10rem;
  background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(201, 222, 232) 50%);
}
@media only screen and (max-width: 48em) {
  .header {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 30em) {
  .header {
    padding: 2rem 1rem;
  }
}
.header__flex-container {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .header__flex-container {
    flex-flow: column-reverse;
  }
}
.header__left {
  width: 30%;
  height: 35rem;
  background: rgb(118, 183, 208);
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 3rem 2rem;
  margin-right: -5%;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .header__left {
    width: 50%;
    height: 25rem;
    margin-right: 0;
    margin-top: -20%;
  }
}
@media only screen and (max-width: 43.75em) {
  .header__left {
    width: 90%;
    height: 25rem;
    margin-top: -27rem;
    background: rgba(118, 183, 208, 0.8);
  }
}
.header__right {
  position: relative;
  width: 75%;
  min-height: 75vh;
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .header__right {
    width: 100%;
    min-height: 70vh;
  }
}
.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__arrows {
  height: 10vh;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 30em) {
  .header__arrows {
    display: none;
  }
}
.header__arrows svg {
  font-size: 2rem;
  color: rgb(49, 105, 131);
  cursor: pointer;
}

.social-icons {
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 1.2rem 3rem;
  background: rgb(201, 222, 232);
  border-radius: 0.3rem;
}
.social-icons * + * {
  margin-left: 1rem;
}
.social-icons svg {
  font-size: 2rem;
  color: rgb(49, 105, 131);
  cursor: pointer;
}

.nav {
  width: 100%;
  height: 12vh;
  background-color: rgb(118, 183, 208);
  color: rgb(255, 255, 255);
  padding: 3rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  z-index: 100000;
}
.nav__logo {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 183, 208);
  width: 19rem;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  z-index: 1;
}
.nav__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid rgb(255, 255, 255);
  z-index: -1;
}
.nav__logo span {
  font-weight: 900;
  margin-right: 0.4rem;
  background-color: rgb(118, 183, 208);
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(79, 169, 198);
  -webkit-text-stroke: 0.155rem rgb(255, 255, 255);
}
.nav__logo .background {
  display: none;
  position: absolute;
  border-top: 3rem solid rgb(118, 183, 208);
  border-right: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-left: 9rem solid transparent;
  bottom: -13rem;
  left: 50%;
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  transform: translateX(-50%);
  z-index: -1;
}
.nav__logo .background--show {
  display: block;
}
.nav__list {
  display: flex;
}
@media only screen and (max-width: 50em) {
  .nav__list {
    display: block;
    width: 50vw;
    height: 88vh;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 12vh;
    padding: 2rem;
    background: linear-gradient(180deg, rgb(49, 105, 131), rgb(118, 183, 208));
    transform: translateX(100%);
    transition: transform 0.3s ease;
    z-index: 100;
  }
  .nav__list--active {
    transform: translateX(0);
  }
}
.nav__list--sticky {
  color: rgb(0, 0, 0);
}
@media only screen and (max-width: 30em) {
  .nav__list {
    width: 80vw;
  }
}
.nav__list * + * {
  margin-left: 4.5rem;
}
@media only screen and (max-width: 50em) {
  .nav__list * + * {
    margin-left: 0;
    margin-top: 1.3rem;
  }
}
.nav__list li {
  color: inherit;
  list-style-type: none;
  text-transform: capitalize;
}
@media only screen and (max-width: 50em) {
  .nav__list li {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(118, 183, 208);
  }
}
.nav__icons-box {
  display: flex;
  align-items: center;
}
.nav__icons-box--sticky {
  color: rgb(0, 0, 0);
}
.nav__user-name {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2rem;
  padding: 0.3rem 0;
  cursor: pointer;
}
.nav__user-name svg {
  margin-left: 0.5rem;
}
.nav__user-name:hover .dropdown {
  display: block;
}

.signin-link {
  display: block;
  margin-left: 1rem;
  padding: 0.5rem 1.3rem;
  text-transform: capitalize;
  border-radius: 0.5rem;
}

.dropdown {
  display: none;
  position: absolute;
  top: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: 10rem;
  padding: 0.7rem 1rem;
  background: rgb(255, 255, 255);
  color: rgb(118, 183, 208);
  border-radius: 0.3rem;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 1rem;
  height: 1rem;
  background: rgb(255, 255, 255);
}
.dropdown svg {
  margin-left: 1rem;
}

.product-badge {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -0.5rem;
  right: -1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(226, 52, 52);
  display: grid;
  place-items: center;
}

.cart-section {
  min-height: 88vh;
  padding: 3rem 2rem;
}

.cart__container {
  display: flex;
  gap: 2rem;
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 70%;
}
.cart__product {
  display: flex;
  gap: 2.5rem;
  padding: 2rem 0.7rem;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.cart__img {
  width: 15rem;
  height: 15rem;
}
.cart__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__price {
  padding: 0 1.7rem;
}
.cart__price--single {
  color: rgb(170, 170, 170);
  font-size: 1.3rem;
}
.cart__price h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(170, 170, 170);
}
.cart__price span {
  font-size: 1.4rem;
}
.cart__remove {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__flex {
  flex: 1;
}

.product-box {
  display: flex;
}

.product-info {
  padding: 0 2rem;
}
.product-info p {
  font-size: 1.3rem;
  color: rgb(170, 170, 170);
  text-transform: capitalize;
}

.total-price {
  color: rgb(118, 183, 208);
  font-weight: 600;
}

.order__container {
  display: flex;
  gap: 2rem;
}
.order__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 70%;
}
.order__box {
  padding: 1rem;
  border: 0.1rem solid rgb(210, 210, 210);
  border-radius: 1rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.order__box > div * + * {
  margin-top: 1rem;
}
.order__box > * > * > span {
  font-weight: 600;
}

.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 1rem;
}
.order-product__img {
  width: 15rem;
  height: 15rem;
}
.order-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-product__name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.order-product__total-price {
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */