@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
@-webkit-keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
@media only screen and (max-width: 64em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: rgb(31, 31, 31);
  line-height: 1.7;
}

.section {
  width: 100%;
  padding: 3rem 2rem;
}
@media only screen and (max-width: 30em) {
  .section {
    padding: 1rem;
  }
}

.heading__primary {
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: rgb(255, 255, 255);
}
.heading__primary--black {
  color: rgb(0, 0, 0);
}

.heading__secondary {
  font-size: 2.7rem;
  font-weight: 600;
  text-transform: capitalize;
  color: rgb(77, 77, 77);
}

.heading__tertiary {
  font-size: 2.3rem;
  color: rgb(77, 77, 77);
  text-transform: capitalize;
}
@media only screen and (max-width: 30em) {
  .heading__tertiary {
    font-size: 1.8rem;
  }
}

.paragraph {
  font-size: 1.6rem;
  color: rgb(77, 77, 77);
}
.paragraph--header {
  color: rgb(255, 255, 255);
}

.mt-small {
  margin-top: 2rem;
}

.mt-medium {
  margin-top: 3rem;
}

.mt-large {
  margin-top: 5rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 3rem;
}

.mb-large {
  margin-bottom: 4rem;
}

.centar-text {
  text-align: center;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn__get-in-touch {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 1rem;
  text-transform: uppercase;
  background: rgb(255, 255, 255);
}
.btn__get-in-touch a {
  text-decoration: none;
  color: rgb(49, 105, 131);
}
.btn__get-in-touch:hover {
  box-shadow: 0.3rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
}
.btn__bars {
  display: none;
  position: absolute;
  top: 4vh;
  right: 2.5rem;
  font-size: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 50em) {
  .btn__bars {
    display: block;
    color: rgb(255, 255, 255);
  }
  .btn__bars--sticky {
    color: rgb(118, 183, 208);
  }
}
.btn__display {
  font-size: 2.3rem;
  padding: 0.2rem;
  margin-right: 0.8rem;
  border: none;
  border-radius: 0.3rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
}
.btn__display--active {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
.btn__cart {
  font-weight: 600;
  letter-spacing: 0.075rem;
  color: rgb(255, 255, 255);
  background: rgb(118, 183, 208);
  text-transform: uppercase;
  align-self: flex-start;
}
.btn__cart:hover {
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
}
.btn__remove {
  background: rgb(118, 183, 208);
  color: rgb(255, 255, 255);
  letter-spacing: 0.075rem;
  padding: 0.7rem 1.7rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  outline: none;
  cursor: pointer;
}
@media only screen and (max-width: 30em) {
  .btn__remove {
    position: absolute;
    top: -1rem;
    right: 0;
    padding: 0.7rem;
    border-radius: 50%;
  }
}
.btn__remove span {
  display: block;
}
@media only screen and (max-width: 30em) {
  .btn__remove span {
    display: none;
  }
}
.btn__remove svg {
  display: none;
}
@media only screen and (max-width: 30em) {
  .btn__remove svg {
    display: block;
  }
}
.btn__back-arrow {
  position: absolute;
  top: 3rem;
  left: 3rem;
  padding: 1rem 2rem;
  background: rgb(118, 183, 208);
  border: none;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 48em) {
  .btn__back-arrow {
    top: 1.5rem;
    padding: 0.7rem 1.5rem;
  }
}
.btn__back-arrow svg {
  font-size: 3rem;
  color: rgb(255, 255, 255);
}
.btn__back-to-shopping {
  width: 5rem;
  height: 5rem;
  padding: 0;
  position: absolute;
  top: 2rem;
  left: 3rem;
  border-radius: 50%;
}
.btn__back-to-shopping svg {
  font-size: 2rem;
  font-weight: 700;
  color: rgb(118, 183, 208);
}
.btn__proceed {
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
  background: rgb(230, 59, 59);
  color: rgb(255, 255, 255);
}
.btn__load-more {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}
.btn__form {
  font-weight: 600;
  width: 70%;
  margin-bottom: 1rem;
  padding: 1.5rem 3rem;
  background: rgb(201, 222, 232);
  color: rgb(77, 77, 77);
  border-radius: 0.4rem;
}
@media only screen and (max-width: 43.75em) {
  .btn__form {
    width: 100%;
  }
}
.btn__form:hover {
  box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
}
.btn__category {
  display: block;
  font-size: 1.8rem;
  background: transparent;
  color: rgb(170, 170, 170);
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  text-transform: capitalize;
  letter-spacing: 0.075rem;
  border: none;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.btn__category:hover {
  transform: translateX(0.5rem);
}

.checkout-steps {
  width: 80%;
  height: 5rem;
  display: flex;
  margin: 2rem auto;
}
@media only screen and (max-width: 30em) {
  .checkout-steps {
    width: 95%;
  }
}
.checkout-steps > div {
  flex: 1;
  padding: 0.7rem 0;
  border-top: 0.5rem solid rgb(201, 222, 232);
}
.checkout-steps > div.active {
  border-top: 0.5rem solid rgb(118, 183, 208);
}

.filter-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  flex-basis: 25%;
  position: -webkit-sticky;
  position: sticky;
  top: 12vh;
  left: 0;
  padding: 3rem;
}
@media only screen and (max-width: 48em) {
  .filter-container {
    position: static;
  }
}
.filter-container div {
  margin-bottom: 2rem;
}
.filter-container > div > ul {
  list-style-type: none;
}
.filter-container h3 {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(77, 77, 77);
  text-transform: capitalize;
  border-bottom: 0.2rem solid rgb(118, 183, 208);
  padding-bottom: 1rem;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem 0 0 0;
}
.color-list__item {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.color-list__item--black {
  background: rgb(0, 0, 0);
}
.color-list__item--green {
  background: rgb(100, 165, 75);
}
.color-list__item--blue {
  background: rgb(68, 68, 253);
}
.color-list__item--white {
  background: rgb(255, 255, 255);
}
.color-list__item--grey {
  background: rgb(77, 77, 77);
}
.color-list__item--pink {
  background: rgb(248, 116, 182);
}

.form-section {
  width: 100%;
  padding: 2rem 2rem 4rem 2rem;
}
@media only screen and (max-width: 43.75em) {
  .form-section {
    padding: 1rem 0;
  }
}
@media only screen and (max-width: 43.75em) {
  .form-section--order {
    padding: 1rem;
  }
}

.form-box {
  width: 80%;
  margin-inline: auto;
  display: flex;
  background: rgb(201, 222, 232);
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
}
@media only screen and (max-width: 43.75em) {
  .form-box {
    width: 90%;
  }
}
@media only screen and (max-width: 30em) {
  .form-box {
    display: block;
    height: 100%;
    box-shadow: none;
  }
}
.form-box__left {
  flex-basis: 35%;
  background: rgb(201, 222, 232);
  padding: 1rem;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 30em) {
  .form-box__left {
    display: none;
  }
}
.form-box__right {
  flex-basis: 65%;
  background: rgb(255, 255, 255);
  padding: 2rem;
  display: grid;
  place-items: center;
}
@media only screen and (max-width: 30em) {
  .form-box__right {
    height: 100%;
    padding: 0;
  }
}
.form-box__logo {
  position: relative;
  font-size: 3.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(201, 222, 232);
  width: 27rem;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  z-index: 1;
}
@media only screen and (max-width: 43.75em) {
  .form-box__logo {
    font-size: 2.8rem;
    width: 24rem;
  }
}
@media only screen and (max-width: 30em) {
  .form-box__logo {
    width: 100%;
  }
}
.form-box__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 7rem;
  height: 7rem;
  border: 0.7rem solid rgb(255, 255, 255);
  z-index: -1;
}
@media only screen and (max-width: 43.75em) {
  .form-box__logo::before {
    left: 1.5rem;
    width: 6rem;
    height: 6rem;
  }
}
.form-box__logo span {
  font-weight: 900;
  margin-right: 0.4rem;
  background-color: rgb(201, 222, 232);
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(79, 169, 198);
  -webkit-text-stroke: 0.155rem rgb(255, 255, 255);
}

.form {
  width: 80%;
  text-align: center;
}
@media only screen and (max-width: 30em) {
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.form div:nth-last-child(2) {
  margin-top: auto;
}
.form div:nth-child(1) h1 {
  margin-top: 3rem;
}
.form div:nth-child(1) p {
  font-size: 1.8rem;
  margin-bottom: 5rem;
  color: rgb(118, 183, 208);
}
.form__input-box {
  width: 70%;
  margin-inline: auto;
  margin-bottom: 4rem;
  text-align: left;
}
@media only screen and (max-width: 56.25em) {
  .form__input-box {
    width: 100%;
  }
}
.form__input-box label {
  display: block;
  font-size: 1.4rem;
  color: rgb(77, 77, 77);
  margin-bottom: 1rem;
}
.form__input-box input {
  font-size: 1.2rem;
  width: 100%;
  height: 4rem;
  background: rgb(234, 234, 234);
  color: rgb(77, 77, 77);
  padding: 0 1rem;
  border-radius: 0.4rem;
  border: none;
  outline: none;
}
@media only screen and (max-width: 30em) {
  .form__input-box input {
    font-size: 1.6rem;
    height: 6rem;
  }
}
.form__radio-input {
  width: 70%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form__radio-input > * > input {
  margin-left: 1rem;
}
.form__radio-input > * > img {
  width: 5rem;
}
.form p {
  font-size: 1.3rem;
}

.from-alert-container {
  width: 70%;
  margin: 1rem auto;
}

.alert {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 0.7rem;
  padding: 1rem;
  border-radius: 0.3;
}
.alert--danger {
  background: rgb(255, 172, 172);
  color: rgb(248, 39, 39);
  border-left: 0.5rem solid rgb(248, 39, 39);
}
.alert--success {
  background: rgb(177, 255, 170);
  color: rgb(12, 148, 0);
  border-left: 0.5rem solid rgb(12, 148, 0);
}

.operations {
  width: 85%;
  margin-inline: auto;
  background-color: rgb(244, 244, 244);
  border: 0.1rem solid rgb(210, 210, 210);
  border-top: none;
}
@media only screen and (max-width: 37.5em) {
  .operations {
    width: 100%;
  }
}
.operations__tab-header {
  display: flex;
  background-color: rgb(255, 255, 255);
}
.operations__tab {
  flex: 1;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  text-align: center;
  border: 0.1rem solid rgb(210, 210, 210);
  cursor: pointer;
}
.operations__tab--active {
  color: rgb(118, 183, 208);
  background: rgb(244, 244, 244);
  border-top: 0.5rem solid rgb(118, 183, 208);
  border-left: none;
  border-right: none;
  border-bottom: none;
}
.operations__tab-body {
  height: 50rem;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 37.5em) {
  .operations__tab-body {
    height: 65rem;
  }
}
.operations__tab-content {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.4s ease 0.1s, opacity 0.4s ease 0.3s;
}
@media only screen and (max-width: 37.5em) {
  .operations__tab-content {
    flex-direction: column;
  }
}
.operations__tab-content > div {
  flex-basis: 45%;
  padding: 3rem 2rem;
}
.operations__tab-content > div > * + * {
  margin-top: 3rem;
}
.operations__tab-content > div p {
  font-size: 2rem;
}
.operations__tab-content > div ul {
  list-style-type: none;
}
.operations__tab-content figure {
  flex-basis: 55%;
  height: 100%;
}
.operations__tab-content figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.operations__tab-content--active {
  transform: translateX(0);
  opacity: 1;
}
.icon__times {
  font-size: 2rem;
  color: rgb(0, 0, 0);
  display: none;
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 30em) {
  .icon__times {
    display: block;
  }
}
.icon__cart {
  position: relative;
  font-size: 2rem;
  color: inherit;
  cursor: pointer;
}
.icon__search {
  font-size: 2rem;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  color: inherit;
  cursor: pointer;
  z-index: 1;
}
@media only screen and (max-width: 30em) {
  .icon__search {
    right: 0;
  }
}
.icon__search--mobile {
  position: static;
  transform: translateY(0);
  margin-left: 1rem;
  color: rgb(0, 0, 0);
}

.panels {
  width: 90%;
  height: 50rem;
  display: flex;
  gap: 2rem;
  margin-inline: auto;
  overflow: hidden;
}
@media only screen and (max-width: 48rem) {
  .panels {
    width: 100%;
    height: 70rem;
    flex-direction: column;
  }
}
.panels .panel {
  position: relative;
  border-radius: 3rem;
  flex: 1;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  overflow: hidden;
  cursor: pointer;
}
.panels .panel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.panels .panel .shadow {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(238, 238, 238, 0.1), rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: all 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.panels .panel .shadow--active {
  bottom: 0;
}
.panels .panel--active {
  flex: 5;
  border-radius: 3rem;
}
@media only screen and (max-width: 48rem) {
  .panels .panel--active {
    flex: 8;
  }
}

.order-summary {
  flex-basis: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: calc(12vh + 2rem);
  margin: 0 0 auto 0;
  padding: 2rem 3rem;
  background: rgb(22, 22, 22);
  color: rgb(255, 255, 255);
  border: 0.1rem solid rgb(210, 210, 210);
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
@media only screen and (max-width: 48em) {
  .order-summary {
    align-self: flex-start;
  }
}
@media only screen and (max-width: 30em) {
  .order-summary {
    align-self: initial;
    margin: auto 0 0 0;
  }
}
.order-summary span {
  font-size: 1.8rem;
  font-weight: 500;
}
.order-summary > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.order-summary .shipping {
  color: rgb(230, 59, 59);
}

.product {
  background: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.7rem rgba(0, 0, 0, 0.3);
}
.product--cols {
  display: block;
}
.product--rows {
  display: flex;
}
.product__img {
  width: 100%;
  height: 25rem;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__info {
  padding: 2rem;
}
.product__info--cols {
  display: block;
}
.product__info--rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product__info--rows > * + * {
  margin-top: 1rem;
}
.product__info div {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price {
  font-weight: 600;
  color: rgb(77, 77, 77);
}

.rating svg {
  color: rgb(253, 210, 79);
}

.products {
  position: relative;
  flex-basis: 75%;
  padding: 3rem;
  overflow: auto;
}
.products__header {
  width: 100%;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 30em) {
  .products__header {
    align-items: flex-start;
  }
}
.products__header--left {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 30em) {
  .products__header--left {
    flex-direction: column;
  }
}
.products__header--right {
  display: flex;
  gap: 2rem;
}
.products__header select {
  margin-left: 1rem;
}
.products__container {
  display: grid;
  gap: 2rem;
}
@media only screen and (max-width: 30em) {
  .products__container {
    flex-direction: column;
  }
}
.products__container--cols {
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}
.products__container--rows {
  grid-template-columns: 1fr;
  width: 65rem;
  max-width: 100%;
}

.view-all {
  border-bottom: 0.3rem solid rgb(49, 105, 131);
  cursor: pointer;
}

.loader {
  width: 100%;
  text-align: center;
  align-self: flex-start;
}
.loader svg {
  font-size: 3.5rem;
  margin-top: 2rem;
  -webkit-animation: loader 2s infinite linear;
          animation: loader 2s infinite linear;
}

.error-message {
  width: 100%;
  text-align: center;
  color: rgb(235, 42, 42);
}

.select-container {
  background: rgb(201, 222, 232);
  text-transform: capitalize;
  padding: 1rem;
  border: none;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn-container {
  display: inline-block;
}

.products-container {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 48em) {
  .products-container {
    flex-direction: column;
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
@media only screen and (max-width: 30em) {
  .search {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
  }
}
.search:hover input {
  transform: translateX(0);
  opacity: 1;
}
@media only screen and (max-width: 30em) {
  .search:hover input {
    transform: translateX(100%);
  }
}
.search:hover svg {
  color: rgb(0, 0, 0);
}
.search input {
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3), inset -0.1rem -0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  transform: translateX(100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.4s ease;
}
.search input:focus {
  color: rgb(0, 0, 0);
  transform: translateX(0);
  opacity: 1;
}
.search input:focus + svg {
  color: rgb(0, 0, 0);
}

.search-container {
  display: none;
  padding: 2rem;
}
@media only screen and (max-width: 30em) {
  .search-container {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    transform: translateY(-100%);
    transition: transform 0.3s ease-in;
    z-index: 100;
  }
  .search-container--active {
    transform: translateY(0);
  }
  .search-container__box {
    background: linear-gradient(180deg, rgb(118, 183, 208), rgb(201, 222, 232));
    color: rgb(255, 255, 255);
    padding: 2rem;
    border-radius: 0.5rem;
  }
  .search-container__box ul {
    list-style-type: none;
    margin-top: 1rem;
  }
}
.search-container input {
  width: 70%;
  height: 4rem;
  padding: 2rem 1rem;
  outline: none;
  border: none;
  border-radius: 2rem;
  box-shadow: inset 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.3), inset -0.1rem -0.1rem 0.1rem rgba(0, 0, 0, 0.3);
}

.shopping-info-bar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  gap: 1.8rem;
  padding: 2rem;
  background-color: rgb(11, 25, 70);
}
@media only screen and (max-width: 30em) {
  .shopping-info-bar > div:not(:last-child) {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(210, 210, 210);
  }
}
.shopping-info-bar__box {
  display: flex;
  align-items: center;
}
.shopping-info-bar__box h4 {
  color: rgb(255, 255, 255);
}
.shopping-info-bar__box > * p {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(77, 77, 77);
}
.shopping-info-bar__icon {
  margin-right: 1.2rem;
  padding: 1rem;
  border: 0.3rem solid rgb(0, 0, 0);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.shopping-info-bar__icon svg {
  font-size: 2rem;
  color: rgb(253, 141, 75);
}

.single-product-container {
  position: relative;
  width: 100%;
  min-height: 88vh;
  padding: 8rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-product {
  max-width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.single-product__img {
  width: 40rem;
  max-width: 100%;
}
@media only screen and (max-width: 48em) {
  .single-product__img {
    width: 100%;
  }
}
.single-product__img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.single-product__info {
  min-width: 35rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.single-product__counter span {
  font-size: 2rem;
  margin: 0 1rem;
}
.single-product__counter--cart {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.size-box {
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 0.2rem solid rgb(213, 213, 213);
}
.size-box label {
  margin-right: 1.3rem;
}

.footer {
  font-size: 1.3rem;
  background: rgb(49, 105, 131);
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 2rem;
  padding: 4rem;
}
.footer > div {
  justify-self: center;
}
@media only screen and (max-width: 30rem) {
  .footer > div {
    justify-self: flex-start;
  }
}
.footer > div > h3 {
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.footer svg {
  font-size: 2rem;
}
.footer__icons > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.footer__icons svg {
  margin-right: 0.9rem;
}
.footer__opening-time {
  display: grid;
  grid-template-columns: -webkit-min-content 1fr;
  grid-template-columns: min-content 1fr;
  gap: 1rem;
}

.header {
  position: relative;
  width: 100%;
  height: 88vh;
  padding: 3rem 10rem;
  background: linear-gradient(90deg, rgb(255, 255, 255) 50%, rgb(201, 222, 232) 50%);
}
@media only screen and (max-width: 48em) {
  .header {
    padding: 2rem 8rem;
  }
}
@media only screen and (max-width: 30em) {
  .header {
    padding: 0;
  }
}
.header__flex-container {
  display: flex;
}
@media only screen and (max-width: 56.25em) {
  .header__flex-container {
    flex-flow: column-reverse;
  }
}
.header__left {
  width: 30%;
  height: 35rem;
  background: rgb(118, 183, 208);
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 3rem 2rem;
  margin-right: -5%;
  border-radius: 0.5rem;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-self: center;
}
@media only screen and (max-width: 56.25em) {
  .header__left {
    width: 50%;
    height: 25rem;
    position: absolute;
    left: 50%;
    bottom: 2rem;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 43.75em) {
  .header__left {
    width: 70%;
    bottom: auto;
    margin-bottom: 2rem;
    background: rgba(118, 183, 208, 0.8);
  }
}
@media only screen and (max-width: 30em) {
  .header__left {
    width: 90%;
  }
}
.header__right {
  position: relative;
  width: 75%;
  min-height: 75vh;
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
@media only screen and (max-width: 56.25em) {
  .header__right {
    width: 100%;
  }
}
@media only screen and (max-width: 30em) {
  .header__right {
    min-height: 88vh;
    box-shadow: none;
  }
}
.header__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.header__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__arrows {
  height: 10vh;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media only screen and (max-width: 30em) {
  .header__arrows {
    display: none;
  }
}
.header__arrows svg {
  font-size: 2rem;
  color: rgb(49, 105, 131);
  cursor: pointer;
}

.social-icons {
  position: absolute;
  left: 0;
  bottom: 2rem;
  padding: 1.2rem 3rem;
  background: rgb(201, 222, 232);
  border-radius: 0.3rem;
}
@media only screen and (max-width: 30em) {
  .social-icons {
    top: 2rem;
    bottom: auto;
  }
}
.social-icons * + * {
  margin-left: 1rem;
}
.social-icons svg {
  font-size: 2rem;
  color: rgb(49, 105, 131);
  cursor: pointer;
}

.nav {
  width: 100%;
  height: 12vh;
  background-color: rgb(118, 183, 208);
  color: rgb(255, 255, 255);
  padding: 0 3rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}
.nav--sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0.2rem 0.2rem 0.6rem rgba(0, 0, 0, 0.3);
  z-index: 100000;
}
.nav__logo {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(118, 183, 208);
  width: 19rem;
  height: 12vh;
  line-height: 12vh;
  text-align: center;
  z-index: 1;
}
.nav__logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  border: 0.4rem solid rgb(255, 255, 255);
  z-index: -1;
}
.nav__logo span {
  font-weight: 900;
  margin-right: 0.4rem;
  background-color: rgb(118, 183, 208);
  color: rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(79, 169, 198);
  -webkit-text-stroke: 0.155rem rgb(255, 255, 255);
}
.nav__logo .background {
  display: none;
  position: absolute;
  border-top: 3rem solid rgb(118, 183, 208);
  border-right: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-left: 9rem solid transparent;
  bottom: -13rem;
  left: 50%;
  width: 10rem;
  height: 10rem;
  background-color: transparent;
  transform: translateX(-50%);
  z-index: -1;
}
.nav__logo .background--show {
  display: block;
}
.nav__list {
  display: flex;
  flex: 1;
  height: 100%;
}
@media only screen and (max-width: 50em) {
  .nav__list {
    display: block;
    width: 100vw;
    height: 65vh;
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 12vh;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.6);
    transform: translateY(-150%);
    transition: transform 0.3s ease;
    z-index: 100;
  }
  .nav__list--active {
    transform: translateY(0);
  }
}
.nav__list--sticky {
  color: rgb(0, 0, 0);
}
.nav__list > * + * {
  margin-left: 4.5rem;
}
@media only screen and (max-width: 50em) {
  .nav__list > * + * {
    margin-left: 0;
    margin-top: 1.3rem;
  }
}
.nav__list li:nth-child(1) {
  margin-left: auto;
}
.nav__list li:nth-child(3) {
  margin-right: auto;
}
.nav__list li {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: inherit;
  list-style-type: none;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 50em) {
  .nav__list li {
    font-size: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid rgb(118, 183, 208);
  }
}
.nav__user-name {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.3rem 0;
  cursor: pointer;
}
.nav__user-name svg {
  margin-left: 0.7rem;
}

.signin {
  margin-right: 1.5rem;
}
@media only screen and (max-width: 50em) {
  .signin {
    margin-right: 0;
  }
}
.signin:hover .dropdown {
  display: block;
}
.signin__link {
  display: block;
  text-transform: capitalize;
  border-radius: 0.5rem;
}

.cart-box--sticky {
  color: rgb(118, 183, 208);
}
@media only screen and (max-width: 50em) {
  .cart-box {
    margin-left: auto;
    margin-right: 5.5rem;
  }
}

.dropdown {
  display: none;
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 3rem 0.7rem 1rem;
  background: rgb(255, 255, 255);
  color: rgb(118, 183, 208);
  border-radius: 0.3rem;
  z-index: 100;
}
.dropdown::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 1rem;
  height: 1rem;
  background: rgb(255, 255, 255);
}

.product-badge {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  position: absolute;
  top: -0.5rem;
  right: -1.2rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: rgb(226, 52, 52);
  display: grid;
  place-items: center;
}

.cart-section {
  min-height: 88vh;
  padding: 3rem 2rem;
}
@media only screen and (max-width: 30em) {
  .cart-section {
    padding: 3rem 1rem;
  }
}

.cart__container {
  min-height: 70vh;
  display: flex;
  gap: 4rem;
}
@media only screen and (max-width: 48em) {
  .cart__container {
    flex-direction: column;
  }
}
.cart__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 70%;
}
.cart__product {
  position: relative;
  display: flex;
  gap: 2.5rem;
  background: rgb(201, 222, 232);
  padding: 2rem 0.7rem;
  border-radius: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}
.cart__product > * + * {
  flex-basis: 100%;
}
@media only screen and (max-width: 30em) {
  .cart__product {
    padding: 0.7rem;
  }
}
.cart__img {
  width: 14rem;
  height: 14rem;
  border-radius: 2rem;
  overflow: hidden;
}
.cart__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cart__price--single {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
}
.cart__price h3 {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 2rem;
}
.cart__price span {
  font-size: 1.4rem;
}
.cart__remove {
  padding-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart__product-num {
  display: block;
}
@media only screen and (max-width: 30em) {
  .cart__product-num {
    display: none;
  }
}
.cart__product-num select {
  background: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

.product-box {
  display: flex;
}

.product-info {
  padding: 0 2rem;
}
.product-info p {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
}

.total-price {
  color: rgb(118, 183, 208);
  font-weight: 600;
}

.order__container {
  display: flex;
  gap: 2rem;
}
@media only screen and (max-width: 48em) {
  .order__container {
    flex-direction: column;
  }
}
.order__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex-basis: 70%;
  padding: 0 1rem;
}
.order__list div:last-child > div > * + * {
  margin-top: 1.5rem;
}
.order__list > div:not(:last-child) > div {
  background: rgb(201, 222, 232);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}
.order__list > div:not(:last-child) > div > div * + * {
  margin-top: 1rem;
}
@media only screen and (max-width: 30em) {
  .order__list > div:not(:last-child) > div > div * + * {
    margin-top: 0;
  }
}
.order__list > div:not(:last-child) > div > * > * > span {
  font-weight: 600;
}

.order-product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem 1rem 1rem;
}
.order-product__img {
  width: 15rem;
  height: 15rem;
}
.order-product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.order-product__name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.order-product__total-price {
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */