.btn {
  font-size: 1.2rem;
  font-weight: 600;
  background: $light-blue-cl--1;
  color: $white-cl;
  text-transform: uppercase;
  letter-spacing: 0.075rem;
  padding: 1rem 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    box-shadow: 0.3rem 0.5rem 0.7rem rgba(0, 0, 0, 0.4);
  }

  &__get-in-touch {
    background: $white-cl;

    & a {
      text-decoration: none;
      color: $dark-blue-cl;
    }
  }

  &__cart {
    align-self: flex-start;
  }

  &__remove {
    @media only screen and (max-width: 30em) {
      position: absolute;
      top: -1rem;
      right: 0;
      padding: 0.7rem;
      border-radius: 50%;
    }

    & span {
      display: block;

      @media only screen and (max-width: 30em) {
        display: none;
      }
    }

    & svg {
      display: none;

      @media only screen and (max-width: 30em) {
        display: block;
      }
    }
  }

  &__proceed {
    width: 100%;
    background: rgb(230, 59, 59);
  }

  &__bars {
    font-size: 3rem;
    display: none;
    position: absolute;
    top: calc($nav-height / 3);
    right: 2.5rem;
    background: transparent;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: 50em) {
      display: block;
      color: $white-cl;

      &--sticky {
        color: $light-blue-cl--1;
      }
    }
  }

  &__product-header {
    font-size: 2.3rem;
    padding: 0.2rem;
    margin-right: 0.8rem;
    border: none;
    border-radius: 0.3rem;
    color: $black-cl;
    cursor: pointer;
    width: 4rem;
    height: 4rem;
    line-height: 3.5rem;

    &--active {
      color: $white-cl;
      background-color: $black-cl;
    }

    &--show {
      display: none;

      @media only screen and (max-width: 48em) {
        display: block;
      }
    }
  }

  &__back-arrow {
    position: absolute;
    top: 3rem;
    left: 3rem;
    border: none;
    border-radius: 0.5rem;

    @media only screen and (max-width: 48em) {
      top: 1.5rem;
      padding: 0.7rem 1.5rem;
    }

    & svg {
      font-size: 3rem;
    }
  }

  &__back-to-shopping {
    width: 5rem;
    height: 5rem;
    padding: 0;
    position: absolute;
    top: 2rem;
    left: 3rem;
    border-radius: 50%;

    & svg {
      font-size: 2rem;
      font-weight: 700;
      color: $light-blue-cl--1;
    }
  }

  &__form {
    width: 70%;
    background: $light-blue-cl--2;

    @media only screen and (max-width: 56.25em) {
      width: 100%;
    }

    &:hover {
      box-shadow: 0.1rem 0.1rem 0.6rem rgba(0, 0, 0, 0.3);
    }
  }
}
