@import "../../sass/abstract/variables";

.order {
  &__shipping {
    font-size: 1.4rem;
    color: $black-cl;
  }

  &__statuses {
    .order__status-box:first-child .order__status {
      clip-path: polygon(90% 0, 100% 50%, 90% 98%, 0% 100%, 0 56%, 0% 0%);
    }

    .order__status-box:nth-child(2) .order__status {
      clip-path: polygon(90% 1%, 100% 50%, 90% 97%, 0% 100%, 10% 55%, 0% 0%);
    }

    .order__status-box:last-child .order__status {
      clip-path: polygon(100% 0, 100% 50%, 100% 98%, 0% 100%, 10% 55%, 0% 0%);
    }
  }

  &__status-box {
    flex: 1;
  }

  &__status {
    position: relative;
    height: 1.6rem;
    background-color: rgba($light-grey-cl--1, 0.4);
    text-align: center;

    &--active {
      background-color: $light-blue-cl--1;
    }
  }
}
